a{
	text-decoration: none;
}

body{
	/*overflow: hidden;*/
}

.wrapper{
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	/*width: 1310px;*/
	/*height: 660px;*/

	margin: 0 auto;
}

.background{
	position: fixed;

	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

.background-popup{
	position: absolute;

	top: 30px; 
	left: 70px; 
	
	width: 1165px; 
	height: 595px; 
}

.main{
	position: absolute;

	top: 30px;
	left: 70px;

	width: 1160px;
	height: 590px;

	/*border: 2px solid red;*/
}

.header{
	position: relative;

	/*white-space: nowrap;*/

	width: 1160px;
	height: 70px;

	/*border: 2px solid black;*/
}

.header-background{
	position: absolute;

	width: 1160px;
	height: 70px;
}

.logo{
	position: relative;

	display: inline-block;

	width: 190px;
	height: 70px;

	text-align: center;

	/*border: 2px solid black;*/
}

.logo-image{
	position: relative;

	width: 150px;
	height: 70px;
}

.welcome-message{
	position: relative;

	display: inline-block;

	width: 450px;
	height: 70px;

	vertical-align: top;
	line-height: 70px;
	text-align: center;

	font-size: 16pt;
	font-family: Courier;


	/*border: 2px solid black;*/
}

.home-quick{
	position: relative;

	display: inline-block;

	width: 120px;
	height: 50px;

	vertical-align: top;
	top: 10px;

	/*border: 2px solid black;*/
}

.home-quick-button{
	position: relative;

	width: 120px;
	height: 50px;
}

.combat-quick{
	position: relative;

	display: inline-block;

	width: 120px;
	height: 50px;

	vertical-align: top;
	top: 10px;

	/*border: 2px solid black;*/
}

.combat-quick-button{
	position: relative;

	width: 120px;
	height: 50px;
}

.login-profile{
	position: relative;

	display: inline-block;

	width: 120px;
	height: 50px;

	vertical-align: top;
	top: 10px;

	/*border: 2px solid black;*/
}

.login-profile-button{
	position: relative;

	width: 120px;
	height: 50px;
}

.signup-logout{
	position: relative;

	display: inline-block;

	width: 120px;
	height: 50px;

	vertical-align: top;
	top: 10px;

	/*border: 2px solid black;*/
}

.signup-logout-button{
	position: relative;

	width: 120px;
	height: 50px;
}

.main-content{
	position: relative;

	width: 1160px;
	height: 520px;
}

.navigation{
	position: relative;

	display: inline-block;

	width: 200px;
	height: 515px;

	vertical-align: top;
	top: 10px;

	/*border: 2px solid black;*/
}

.navigation-rod{
	position: absolute;

	width: 120px;
	height: 515px;

	left: 40px;
}

.introduction{
	position: relative;

	width: 200px;
	height: 100px;

	/*vertical-align: top;*/
	/*top: 10px;*/

	/*border: 2px solid black;*/
}

.introduction-link{
	position: absolute;

	height: 0px;
	top: 0;
}

.introduction-button{
	position: relative;

	width: 200px;
	height: 100px;
}

.introduction-button-popup{
	display: none;
}

.introduction-button:hover + .introduction-button-popup{
	position: relative;

	top: -100px;
	left: 200px;

	display: block;

	width: 750px;
	height: 250px;

	z-index: 1;
}

.algotraining{
	position: relative;

	width: 200px;
	height: 100px;

	/*vertical-align: top;*/
	/*top: 10px;*/

	/*border: 2px solid black;*/
}

.algotraining-link{
	position: absolute;

	height: 0px;
	top: 0;
}

.algotraining-button{
	position: relative;

	width: 200px;
	height: 100px;
}

.algotraining-button-popup{
	display: none;
}

.algotraining-button:hover + .algotraining-button-popup{
	position: relative;

	top: -150px;
	left: 200px;

	display: block;

	width: 750px;
	height: 250px;

	z-index: 1;
}

.freetraining{
	position: relative;

	width: 200px;
	height: 100px;

	/*vertical-align: top;*/
	/*top: 10px;*/

	/*border: 2px solid black;*/
}

.freetraining-link{
	position: absolute;

	height: 0px;
	top: 0;
}

.freetraining-button{
	position: relative;

	width: 200px;
	height: 100px;
}

.freetraining-button-popup{
	display: none;
}

.freetraining-button:hover + .freetraining-button-popup{
	position: relative;

	top: -150px;
	left: 200px;

	display: block;

	width: 750px;
	height: 250px;

	z-index: 1;
}

.combat{
	position: relative;

	width: 200px;
	height: 100px;

	/*vertical-align: top;*/
	/*top: 10px;*/

	/*border: 2px solid black;*/
}

.combat-link{
	position: absolute;

	height: 0px;
	top: 0;
}

.combat-button{
	position: relative;

	width: 200px;
	height: 100px;
}

.combat-button-popup{
	display: none;
}

.combat-button:hover + .combat-button-popup{
	position: relative;

	top: -200px;
	left: 200px;

	display: block;

	width: 750px;
	height: 250px;

	z-index: 1;
}

.gallery{
	position: relative;

	width: 200px;
	height: 100px;

	/*vertical-align: top;*/
	/*top: 10px;*/

	/*border: 2px solid black;*/
}

.gallery-link{
	position: absolute;

	height: 0px;
	top: 0;
}

.gallery-button{
	position: relative;

	width: 200px;
	height: 100px;
}

.gallery-button-popup{
	display: none;
}

.gallery-button:hover + .gallery-button-popup{
	position: relative;

	top: -250px;
	left: 200px;

	display: block;

	width: 750px;
	height: 250px;

	z-index: 1;
}

.main-content{
	position: relative;

	display: inline-block;

	width: 945px;
	height: 510px;

	vertical-align: top;
	top: 10px;
	left: 10px;

	/*border: 2px solid black;*/
}

.notification{
	position: relative;

	width: 945px;
	height: 180px;

	/*border: 2px solid black;*/
}

.notification-slide{
	position: absolute;

	width: 945px;
	height: 180px;
}

.banner-line{
	position: relative;

	width: 945px;
	height: 15px;

	top: 5px;

	background: greenyellow;

	/*border: 2px solid black;*/
}

.banner-line-content tr, td{
	border: 1px solid black;

	text-align: center;
}

.left_button{
	position: absolute;

	width: 50px;
	height: 50px;

	top: 75px;
}

.right_button{
	position: absolute;

	width: 50px;
	height: 50px;

	top: 75px;
	right: 0px;
}

.combat-and-ranking{
	position: relative;

	width: 945px;
	height: 300px;

	top: 10px;

	/*border: 2px solid black;*/
}

.combat-board{
	position: relative;

	display: inline-block;

	width: 520px;
	height: 300px;

	vertical-align: top;

	/*border: 2px solid black;*/
}

.combat-board-frame{
	position: absolute;

	width: 520px;
	height: 300px;
}

.combat-board-table{
	position: relative;

	width: 458px;
	height: 232px;

	top: 34px;
	left: 31px;

	text-align: center;
	vertical-align: top;

	white-space: nowrap;

	/*border: 2px solid black;*/

	overflow-x: auto;
	overflow-y: auto;
}

.combat-board-title{
	position: relative;

	text-align: center;
}

.combat-board-title p{
	margin: 5px;
}

.combat-board-content{
	position: relative;

	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.combat-board-content p{
	margin: 5px;
}

.combat-board-content table{
	border: 1px solid black;
	width: 100%;

	text-align: center;
}

.combat-board-content th, td{
	border: 1px solid black;

	text-align: center;
}

.ranking-board{
	position: relative;

	display: inline-block;

	width: 420px;
	height: 300px;

	left: 3px;

	vertical-align: top;

	/*border: 2px solid black;*/
}

.ranking-board-frame{
	position: absolute;

	width: 420px;
	height: 300px;
}

.ranking-board-table{
	position: relative;

	width: 339px;
	height: 216px;

	top: 42px;
	left: 39px;

	text-align: center;
	vertical-align: top;

	/*border: 2px solid black;*/

	overflow-x: auto;
	overflow-y: auto;
}

.ranking-board-title{
	position: relative;

	text-align: center;
}

.ranking-board-title p{
	margin: 5px;
}

.ranking-board-content{
	position: relative;

	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.ranking-board-content p{
	margin: 5px;
}

.ranking-board-content table{
	border: 1px solid black;
	width: 100%;

	text-align: center;
}

.ranking-board-content th, td{
	border: 1px solid black;

	text-align: center;
}